{% url 'post:post_list' as post_url %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'authorProfile:profile' as profile_url %}
{% url 'authorProfile:edit_author' as editprofile_url %}
{% url 'post:post_create' as createpost_url %}
{% url 'post:my_post' as mypost_url %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="{{home_url}}">Unravel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == about_url %}active{% endif %}">
        <a class="nav-link" href={{about_url}}>About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == post_url %}active{% endif %}">
        <a class="nav-link" href="{{ post_url }}">Post</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {% if request.path == profile_url %}active{% endif %}" href="{{profile_url}}">Profile</a>
          <a class="dropdown-item {% if request.path == editprofile_url %}active{% endif %}" href="{{editprofile_url}}">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item {% if request.path == createpost_url %}active{% endif %}" href="{{createpost_url}}">Create New Post</a>
          <a class="dropdown-item {% if request.path == mypost_url %}active{% endif %}" href="{{mypost_url}}">My Post</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{{logout_url}}">Logout</a>
        {% else %}
        <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{login_url}}">Login</a>
        {% endif %}
      </li>
    </ul>
    {% include 'search/snippets/search.html' %}
  </div>
</nav>