
{% extends 'base.html' %}

{% block base_head %}
		{% if category_name %}
			{{block.super}}| {{category_name}}</title>
		{% else %}
			{{block.super}}| Blogs  </title>
		{% endif %}

{% endblock base_head %}

{% block content %}
{% if object_List|length < 0 %} 
	<h3 class="text-center">Sorry, Posts will be added soon........</h3>
{% else %}
	{% for obj in object_list %}
	<div class = col-lg-2></div>
	{% include "snippets/card.html" with instance=obj %}
	<div class = col-lg-2></div>
	{% endfor %}
{% endif %}
{% endblock content %}











